@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 600;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 400px;
    height: 56px;
    margin: 0;

    color: var(--satus-theme-on-surface);
    background-color: var(--satus-theme-surface);
}

button
{
    font-family: 'Open Sans', sans-serif;
}
