/*--------------------------------------------------------------
>>> BUTTON
--------------------------------------------------------------*/

.satus-button
{
    box-sizing: unset;
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    padding: 8px;

    border-radius: 50%;
    background-color: transparent;
}

.satus-button:hover
{
    background-color: var(--satus-theme--transparent);
}

.satus-button::before
{
    content: unset;
}

.satus-button svg
{
    fill: transparent;
    stroke: currentColor;
    stroke-width: 1.75;
}

.satus-button:not(:first-child)
{
    margin: 0 0 0 8px;
}
